@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default
}

body {
    font-family: "Poppins";
    overflow-x: hidden;
}

@layer utilities {
    .custom-transition {
        transition-property: background-color, padding;
        transition-duration: 300ms, 200ms;
        
    }

    .footer-bg {
        background: url("/footer-bg.svg");
        background-size: cover;
        background-position: 10px -180px;
        background-repeat: no-repeat;
        border-top: 1px solid rgba(128, 128, 128, 0.37);
    }
}